
body {
  background: #D6DBDD;
}

.principal {
  background: white;
  display: flex;
  height: 500px;
  width: 450px;
  margin: 20px auto;
}

.principal::after {
  content:"";
  position: absolute;
  z-index: -5;
  height: 80px;
  width: 477px;
  margin-left: -13px;
  margin-top: 255px;
  background: #31372e;
}

.secundaria {
  background: linear-gradient(#7AF17A,#2DCB2D);
  height: 479px;
  width: 479px;
  margin: 11px;
}

.secundaria img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 30px auto;  
}
.tercera {
  height: 110px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -260px;
  position: relative;
  z-index: 5;
  background: #5b6880;
  text-align:center;
  color: #ffff;
  padding: 6px;
}

.tercera p {
  font-size: 22px;
  margin-top: -10px;
}

.tercera h2 {
  font-size: 30px;
}

.icons {
  width:200px;
  heigt: 40px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.icons img {
  height:30px;
  margin:10px;  
}
.icons img:hover {
  opacity: 0.5;
}