html {
    box-sizing: border-box;
  }

body {
    margin: 0;
    background-image: linear-gradient(260deg, #b5b8a6 0%, #92f5cfde 100%);
}
.principal {
    max-width: 900px;
    margin:    0 auto;
}

ul {
      display: inline-block; 
      width: 100%;
}

.primerMenu li {  
    width:   16.7%;
    float:   left;
    margin:  0;
    padding: 0;
}

.segundoMenu li {  
    width:   20%;
    float:   left;
    margin:  0;
    padding: 0;
}


.tituloNombre, .primerMenu a, .segundoMenu a, .formulario  {
    color:white;
    letter-spacing: 3px;
    background:rgba(0,0,0,0.2);
    padding:20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
}

.primerMenu, .segundoMenu, .imagenes {
    border:     1px solid black;
    list-style: none;
    padding:    0;
    display:    flex;
    margin: 0;
}

a:hover {
    background:rgba(0,0,0,0.5);
}

img {
    width:40%;
}

input {
    width: 200px;
}

/* Todo sobre las img del medio */

.redesSociales img {
    max-width: 15%;
}
.imagenes {
    max-width: 900px;
    margin: 0;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    background:rgba(0,0,0,0.1);
    scroll-behavior: inherit;

}
.imagenes img{
    max-width: 280px;

}
.tituloNombre {
    margin-bottom: 10px;
}

/* Todo sobre los menus desplegables */
 nav .miniMenu li {
    display: inline-block;
    position: relative;
  }
  
  li a {
    display: block;
    padding: 10px;
  }
  
  nav .miniMenu > ul {
    max-width: 120px;
    padding: 0;
    position: absolute;
    display: none;
  }
  
  .miniMenu:hover > ul {
    display: grid;
    background-color: rgb(135, 192, 164);
  }

  nav .miniMenu li {
    width: 120px;
    border-right:  1px solid black;
    border-left:   1px solid black;
    border-bottom: 1px solid black;
    
    padding:    0;
    display:    flex;
    margin: 0;
  }

   /* si baja de 650px el total cambiar formato */